* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #05050A;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Glow background */
body::before {
  content: "";
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(0,255,156,0.15), transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.app {
  width: 100%;
  max-width: 700px;
  padding: 30px;
}

/* TOP */
.logo {
  color: #00FF9C;
  font-weight: bold;
  margin-bottom: 10px;
}

.progress-track {
  height: 4px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 33%;
  background: linear-gradient(90deg, #00FF9C, #FF00E5);
  transition: 0.4s;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.5;
  margin-top: 5px;
}

.progress-steps .active {
  color: #00FF9C;
}

/* CARD */
.card {
  margin-top: 30px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
}

/* STEP */
.step {
  display: none;
}

.step.active {
  display: block;
}

/* TEXT */
.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.6;
  margin-bottom: 25px;
}

/* INPUT */
.input-wrapper input {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  background: #111;
  border: 1px solid #222;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #FF00E5;
  box-shadow: 0 0 10px #FF00E5;
}

/* SELECT */
.select {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #111;
  border: 1px solid #222;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

/* BUTTON */
.primary-btn {
  width: 100%;
  padding: 18px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #00FF9C, #FF00E5);
  color: black;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #FF00E5;
}

/* RESULTS */
.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  background: rgba(255,255,255,0.02);
}

.box span {
  font-size: 12px;
  opacity: 0.6;
}

.box h3 {
  font-size: 34px;
  margin-top: 8px;
}

/* COLORS */
.low {
  border: 1px solid rgba(0,255,156,0.3);
}

.mid {
  border: 1px solid #00FF9C;
  box-shadow: 0 0 20px rgba(0,255,156,0.3);
}

.high {
  border: 1px solid #FF00E5;
  box-shadow: 0 0 20px rgba(255,0,229,0.3);
}
